# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

# db
*.db
requests.db

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo 